html {
  background-color: #FF6600;
  color:#3c4237;
  min-height: 100vh;
  position: relative;
}
body{
  padding: 0;
  padding-bottom: 20vh;
  margin: 0;
 font-family:monospace;
 font-size: 1rem;



}
.WebsiteContent{
  margin-top: 15vh;
  padding: 0px 5vw 0px 5vw;
 
}
@font-face {
  font-family: 'druk_wide_boldbold';
  src: url('../Fonts/webfontkit-20230219-025603/fontsfree-net-druk-wide-bold-webfont.woff2') format('woff2'),
       url('../Fonts/webfontkit-20230219-025603/fontsfree-net-druk-wide-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}